.cancel_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 42px;
    background-color: white;
    color: #5FBE4E;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 40px;
    flex-grow: 1;
}

.cancel_button:hover {
    border: 2px solid#E9E9E9;
    background-color: #E9E9E9;
    color: #53AA44;
    cursor: pointer;
}