.checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.label {
    cursor: pointer;
    display: flex;
}

.label::before {
    content: '';
    width: 1em;
    height: 1em;
    border-radius: .15em;
    margin-right: .5em;
    border: .05em solid #5FBE4E;
}

.label:hover::before, .checkbox:hover + .label::before{
    background-color: #91e682;
}

.checkbox:checked + .label::before{
    display: flex;
    justify-content: center;
    align-items: center;
    content: '\002714';
    color: white;
    background-color: #5FBE4E;
}